* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 100%;
    background-color: #FFE138;
}

.header-text {
    display: flex;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: black;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.column-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.three-column {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    align-items: flex-start;
}

.three-column:last-of-type {
    margin-bottom: 0px;
}

.column-content {
    display: flex;
    width: 330px;
    flex-direction: column;
    border: 1px solid black;
}

.column-text {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: black;

    margin: 30px 33px;
    text-align: left;
}

.caption {
    font-weight: 700;
}

.column-photo {
    height: 600px;
}

.column-photo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    background-color: #FFE138;
}

.footer-text {
    display: flex;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: black;
}

@media only screen and (min-width: 845px) {
    .main-container {
        padding: 70px 0;
    }

    .header-text {
        font-size: 50px;
    }

    .column-container {
        width: 1330px;
    }

    .three-column {
        width: 33.3%;
        margin-bottom: 0px;
    }

    .column-content {
        width: 400px;
        margin-right: 50px;
    }  

    .column-content:last-of-type {
        margin-right: 0px;
    }
    
    .footer-text {
        font-size: 50px;
    }
}